# Private configuration
/private_config.ts
**/private_config.ts
src/config/private_config.ts

# Generated JavaScript files
*.js

# Node modules
node_modules/

# TypeScript build output
dist/

# Logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
